
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card-detailed" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.image_url %>);">
        <div class="card-description">
          <h3><%= @cocktail.name %></h3>
        </div>

      </div>
    </div>
    <div class="card-info">
      <div class="col-sm-4">
        <div>

        </div>
        <div>
         <ul>
          <li><h4>Ingredients:</h4></li>
          <% @cocktail.doses.each do |d| %>
            <li><%= d.description %>
              <%= d.ingredient.name %>
            <%= link_to remove_path(d), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
              <i class="fas fa-trash-alt"></i><% end %>
           <% end %></li>
          <hr />
           <li><%= link_to 'Add new ingredient', new_cocktail_dose_path(@cocktail) %></li>
          <li><%= link_to 'Back to cocktails overview', cocktails_path %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>








